@font-face {
  font-family: Roboto;
  src: url('../assets/Roboto/Roboto-Regular.ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Roboto;
  src: url('../assets/Roboto/Roboto-Bold.ttf');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: Roboto;
  src: url('../assets/Roboto/Roboto-Light.ttf');
  font-style: normal;
  font-weight: 300;
}